/* .header {
  background-image: url(images/Background.png);
} */
.header_area {
  background-color: #141414;
}
.header {
  width: 1360px;
  height: 680px;
  display: flex;
}
.header_menu {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.header_logo {
  display: flex;
  flex: 5;
}
.logo {
  margin-right: 40px;
}
.navigation {
  display: flex;
  flex: 7;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 56px;
}
nav ul li {
}
nav ul li a {
}
nav ul li a:hover {
}
